body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.header-container {
  display: grid;
  text-align: center;
  background-color: dimgray;
  color: #fff;
  justify-content: center;
  padding: 20px;
}

.header-container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.header-container span {
  font-size: larger;
  padding: 5px;
}

#add-book {
  padding: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#library-container {
  display: flex;
  justify-content: center;
}

#books {
  width: 15000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-card {
  display: grid;
  background-color: #644848;
  border: 1px solid #000;
  color: #fff;
  padding: 0 15px;
  margin: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 300px;
  height: 300px;
  text-align: center;
}

.book-info {
  line-height: 1.5;
}

.book-card-header {
  text-align: end;
}

.book-card-footer {
  display: flex;
  justify-content: space-between;
}

.book-card-footer .form-group, .remove-book {
  display: flex;
  align-items: center;
}

.remove-book{
  color: red;
  cursor: pointer;
}

#addBookDialog {
  border: none;
}

#addBookDialog h3 {
  text-align: center;
}

#addBookToLibraryForm .form-group {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addBookToLibraryForm label {
  margin-right: 10px;
}

.formBtns {
  margin: 1rem 0;
}